body {
    background-color: lightblue;    
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: aqua;
    border-color: #2E6DA4;
    border-style: none;
}
input {
    height: 20px;
    border-radius: 20px;
}
.TT {
    position: relative;
    top: 250px;
}
